<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
>
<head>
    <title>Title</title>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/fragments/show.css}">
  </th:block>
</head>
<body>
<main layout:fragment="content">
<div class="container mt-1 custom-size" >
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="text-primary">번호</th>
      <th scope="col" class="text-primary">제목</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${pageDto.objects}">
      <td th:text="${post.id}">id</td>
      <td><a th:href="@{/post/show/{id}(id=${post.id})}" th:text="${post.title}">제목</a></td>
<!--      <td>-->
<!--        <a th:href="@{/post/edit/{id}(id=${post.id})}" class="btn btn-warning btn-sm">수정</a>-->
<!--      </td>-->
<!--      <td>-->
<!--        <button th:data-id="${post.id}" class="btn btn-danger btn-sm" onclick="deletePost">삭제</button>-->
<!--      </td>-->
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation" style="position:relative;">
    <ul class="pagination">
      <li th:class="${pageDto.currentPage == 1 ? 'page-item disabled' : 'page-item'}">
        <a class="page-link" th:href="@{/post/show?page={page}&size={size}(page=(${pageDto.currentPage}-1),size=${pageDto.size})}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li >
        <th:block th:each="num: ${#numbers.sequence(-1,1)}">
          <th:block th:if="${pageDto.currentPage == 1}">
            <li class="page-item">
              <a th:class="${pageDto.currentPage == (pageDto.currentPage+num+1) ? 'page-link active' : 'page-link'}"
                 th:text="${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
          pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}"
                 th:href="@{/post/show?page={page}&size={size}(page=(${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
          pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}),size=${pageDto.size})}">
              </a>
            </li>
          </th:block>
          <th:block th:if="${pageDto.currentPage == pageDto.totalPageNum}">
            <li class="page-item">
              <a th:class="${pageDto.currentPage == (pageDto.currentPage+num-1) ? 'page-link active' : 'page-link'}"
                 th:text="${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
          pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}"
                 th:href="@{/post/show?page={page}&size={size}(page=(${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
          pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}),size=${pageDto.size})}">
              </a>
            </li>
          </th:block>
          <th:block th:if="${pageDto.currentPage != 1 and pageDto.currentPage != pageDto.totalPageNum}">
            <li class="page-item">
              <a th:class="${pageDto.currentPage == (pageDto.currentPage+num) ? 'page-link active' : 'page-link'}"
                 th:text="${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
            pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}"
                 th:href="@{/post/show?page={page}&size={size}(page=(${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
            pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}),size=${pageDto.size})}">
              </a>
            </li>
          </th:block>
        </th:block>
      <li th:class="${pageDto.currentPage == pageDto.totalPageNum ? 'page-item disabled' : 'page-item'}">
        <a class="page-link" th:href="@{/post/show?page={page}&size={size}(page=(${pageDto.currentPage}+1),size=${pageDto.size})}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <button type="button" class="btn btn-outline-primary btn-sm" id="createBtn" style="position: absolute; right: 3px;">글쓰기</button>
    </ul>
  </nav>
</div>
</main>
</body>
<th:block layout:fragment="js">
  <script>
    document.getElementById("createBtn").addEventListener("click", function() {
      window.location.href = "/post/create";
    });
  </script>
</th:block>

</html>